.container {
    max-width: 350px;
    max-height: 500px;
    margin: auto;
    border: 2px solid black;
    margin-top:50px;
}

.header {
    padding: auto;
    margin-left: 10px;
    text-align: left;
    font-size: 60%;
}

.dropbox {
    margin:auto;
    padding-top: auto;
    font-size: 120%;
    width: 330px;
    padding:5px;
    border: 2px solid rgb(192, 192, 192);
}

.dropbox:focus {
    color:white;
    background-color: black;
    margin:auto;
    padding-top: auto;
    font-size: 120%;
    width: 330px;
}

option:hover {
    background-color: red;
}

.dropboxElement:checked {
    background-color: rgb(0, 253, 0);
}

.inputfield {
    margin:auto;
    font-size: 120%;
    width: 316px;
    padding:5px;
    border: 2px solid rgb(192, 192, 192);
}

.dropbox:hover {
    margin:auto;
    padding-top: auto;
    font-size: 120%;
    width: 330px;
    padding:5px;
    border: 2px solid rgb(65, 65, 65);
}

.inputfield:hover {
    margin:auto;
    font-size: 120%;
    width: 316px;
    padding:5px;
    border: 2px solid rgb(65, 65, 65);
}

.inputfield:focus {
    outline:none;
    margin:auto;
    font-size: 120%;
    width: 316px;
    padding:5px;
    border: 2px solid rgb(0, 185, 0);
}

.resultsBODY {
    display: inline-block;
    width: 330px; 
    height: 290px; 
    overflow-y: auto;
    overflow-x: hidden;
}

.resultsTABLE {
    margin:auto;
    font-size: 120%;
    width: 330px;
    height: 290px;
    border: 0px
}

.resultsTR {
    display: inline-block;
    width: 330px;
    border:none;
}

.resultsTR:hover {
    width: 330px;
    background-color: rgb(130, 255, 130);
    border:none;
}

.resultsLEFT {
    float: left;
    text-align: left;
}

.resultsRIGHT {
    float: right;
    padding-right: 6px;
    text-align: right;
}

.dropboxContainer {
    margin-left: 10px;
    padding-top: 15px;
    border: none;
}

.inputfieldContainer {
    margin-left: 10px;
    padding-top: 15px;
    border: none;
}

.resultsContainer {
    margin-left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

::-webkit-scrollbar {
	width: 5px;
} 
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}